/* General */
body{
    font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
}
p{
    font-size: 13px;
    line-height: 1.5;
}
h2.title{
    display: inline-block;
    font-size: 2.2em;
    font-weight: bold;
    padding: 0.3em 0;
    margin-bottom: 1.3em;
}
h4{
    font-size: 1.6em;
    font-weight: bold;
}
.section-red{
    background-color:#a40000;
}
.section-brown{
    background-color: #2b1310;
}
/* General text color */
.text-white{
    color: #fff;
}
.text-red{
    color: #dc2831;
}
.text-pink{
    color: #f74452;
}
.text-yellow{
    color: #f7d766;
}
.text-gold{
    color: #cfa972;
}
/* General border setting */
.border-btm-red3{
    border-bottom: 3px solid #dc2831;
}
.border-btm-gold3{
    border-bottom: 3px solid #cfa972;
}

/* General Carousel */
.carousel-inner > .item > img, .carousel-inner > .item > a > img{
    width: 100%;
}

/* General icons setting */
.icon4, .icon5{
    display: inline-table;
    margin: 0;
}
.icon4 img, .icon5 img{
    width: 100%;
    margin-bottom: 1em;
}

/* icon4 */
.icon4{
    width: 21%;
    padding: 2vw;
}

/* icon5 */
.icon5{
    width: 16%;
    padding: 1vw;
}

/* General item-check setting */
.item-check{
    height: 19em;
    padding: 0;
    padding-bottom: 1em;
    background: #fff;
    margin-bottom: 2em;
}
.item-check .tag{
    position:absolute;
    z-index: 333;
    max-width: 20%;
    padding: 0.5em 1em 0.6em 0.9em;
    margin:0;
    color: #fff;
    background-color: #f74452;
}
.item-check img{
    width: 120%;
    margin: -1.5em 0 0 -2em;
    filter: blur(2px);
    object-fit: cover;
}
.item-check:hover img{
    filter: blur(0px);
}
.item-check .CoverImage {
    display: block;
    max-height: 11em;
    margin-bottom: 1.5em;
    overflow: hidden;
  }

.item-check .CoverImage:before {
content: "";
display: block;
}
.item-check p{
    padding: 0 2em;
}

/* General button setting */
/* Gold button */
.btn-gold, .btn-gold:visited{
    display: block;
    margin: 0 auto;
    color: #cfa972;
    border: 1px solid #cfa972;
    width: 12em;
    line-height: 3;
    text-transform: uppercase;
}
.btn-gold:hover, .btn-gold:active{
    color: #2b1310;
    font-weight: bold;
    background-color: rgba(207,169,114,0.7);
    text-decoration: none;
    box-shadow: inset 0 0 10px #cfa972;
    
}


/* Navigation */
.navbar-default{
    border:none;
    box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.4);
}
.navbar-custom{
    height: 4.5em;
    font-size: 1em;
    background-color: #dc2831;
    position: fixed;
}
.navbar-brand{
    padding: 0.5em;
}
.navbar-brand img{
    height: 2.5em;
}
.navbar-nav{
    height: 4.5em;
    padding: 0 1em 0 0;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:visited{
    line-height: 2.5;
    padding: 1em 1.2em;
    color: #fff;
    background-color: #dc2831;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active{
    color: #fff;
    background-color: #a40000;
    box-shadow:inset 0 -3px 0px #f7d766;
}

/* Footer */
.footer .section-red{
    padding: 3em 0;
}
.footer .section-brown{
    padding: 1.5em 0.8em 1em;
}
.footer p{
    padding: 0;
    margin: 0 0 0.5em 0;
}
.footer-content, .footer-logo, .footer .contact{
    padding: 0 1em;
}
.footer-logo img{
    width: 32%;
    margin-bottom: 1em;
}
.logo-ft{
    padding: 0 0.5em;
    margin-bottom: 1em;
}
.logo-ft img:hover{
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}
.footer p a.text-yellow:hover, .footer p a.text-yellow:active{
    color: #f7d766;
    font-weight: bold;
    text-decoration: none;
}


 /* BacktoTop */
 .toTop span {
    position: fixed;
    bottom: 0.5em;
    right: 4em;
    height: 4em;
    width: 4em;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    font-weight: bolder;
    z-index: 999;
}
.toTop p {
    height: 4em;
    width: 4em;
    border: 0.1em solid #cfa972;
    border-radius: 50%;
    text-align: center;
    background-color: #a40000;
    color: #cfa972;
}
.toTop p:hover {
    border: 0.1em solid #f7d766;
    background-color: #e60012;
    color: #f7d766;
}
.toTop i{
    font-size: 2em;
    line-height: 1.9em;
}
/*totop結束*/


/* Index Carousel */
ol.carousel-indicators{
    padding: 0.5em 0;
    width: 100%;
    left: 0;
    bottom: 0;
    margin-left:0;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    line-height: 1;
}
.carousel-indicators li{
    height: 0.8em;
    width: 0.8em;
    margin: 1.1em 0.5em 1em 0.5em;
    background-color: #626262;
    border:none;
}
.carousel-indicators .active{
    height: 0.8em;
    width: 0.8em;
    margin: 1.1em 0.5em 1em 0.5em;
    background-color: #cfa972;
}


/* Index Advantage */
.advantage{
    padding: 3em 0 5em 0;
    background: url(../images/background/bk_index_01.png) no-repeat center #eeeeee;
}

/* Index Net */
.net{
    padding: 3em 0 5em 0;
    background: url(../images/background/bk_index_02.png) no-repeat center #2b1310;
}
.net .content, .payment .content{
    max-width: 940px;
    min-height: 10vw;
    margin: 0 auto;
}
.net > .item3{
    background-color: #fff;
}


/* Index Payment */
.payment{
    padding: 3em 0 5em 0;
    background: url(../images/background/bk_index_03.png) no-repeat center #eeeeee;
}
.item-book{
    position: relative;
    display: table;
    width: 100%;
    height: 20em;
    margin-bottom: 2em;
    background-color: #cfa972;
    box-shadow:inset 1.8em 0px 0px #c0731d;
}
.payment .col-xs-12:nth-child(2n) .item-book{
    background-color: #e60012;
    box-shadow:inset 1.8em 0px 0px #f74452;
}
.item-book > .text-center{
    position: absolute;
    display: table-cell;
    width: 100%;
    top: 40%;
}
.item-book h4{
    font-size: 1.9em;
}
.item-book p{
    font-size: 1.1em;
} 
.item-book h4 , .item-book p{
    font-weight: bold;
    margin: 0;
    line-height: 1.5;
}


/* Index Serive */
.service{
    padding: 3em 0 5em 0;
    background: url(../images/background/bk_index_04.png) no-repeat center #2b1310;
}

.service b{
    display: block;
    padding: 0.2em 0 0.5em 0;
    font-size: 1.5em;
    line-height: 1.2;
}